# Payload Configuration
APP_URL=http://localhost
DATABASE_URL=postgres://admin:ChangeMe!@db:5432/payload_db
PAYLOAD_PORT=3000

# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=ChangeMe!
POSTGRES_DB=payload_db
