# Payload Configuration
APP_URL=http://localhost
DATABASE_URL=postgres://admin:ChangeMe!@db:5432/payload_db
PAYLOAD_PORT=3000

# PAYLOAD_TEMPLTE can be set to "blank" or "website" depending on the desired template for Payload CMS. The default is "blank".
PAYLOAD_TEMPLTE=website

# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=ChangeMe!
POSTGRES_DB=payload_db
