# Docker Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=ChangeMe!
POSTGRES_DB=payload_db

# Payload Configuration
APP_URL=http://localhost
DATABASE_URL=postgres://admin:ChangeMe!@db:5432/payload_db
# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_TOP_SECRET_KEY
PAYLOAD_PORT=3000
# next.config.ts without protocol. Use comma-separated list
SERVER_URLS=localhost:3000,dev.local.com
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
# Used to validate preview requests
PREVIEW_SECRET=YUOUR_OTHER_TOP_SECRET_KEY
# PAYLOAD_TEMPLTE can be set to "blank" or "website".
PAYLOAD_TEMPLTE=blank